node_modules
# Keep environment variables out of version control
.env
.env.*
!.env.example

/generated/prisma
/src/generated/prisma
/backup_export

# build outputs
/dist
/build

# logs
logs
*.log

# testing
coverage
.nyc_output
